html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    /* optional, so text is visible */
}

.intro {
    border-bottom: 2px solid white;
    padding: 5px;
    box-shadow: 0 0 5px 2px white;
}

.about {
    padding: 6px;
    padding-top: 20px;
}

.bio {
    
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.bio .bio_text {
    width: 60%;
}

.bio .img {
   width: 40%; 
}

img {
    width: 240px;
    height: 240px;
    object-fit: cover;
    border: 3px solid white;
    box-shadow: 0 0 5px 2px white;
    border-radius: 50%;


}